<!DOCTYPE html>
<html>
  <head>
    <title>WeddingClothes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <nav class="menu">

      <ol>
        <li class="menu-item"><%= link_to 'Home',root_path  %></li>
        <li class="menu-item"><%= link_to 'About',pages_about_path  %></li>
        <li class="menu-item">

          <a href="#0">User</a>
          <ol class="sub-menu">
            <li class="menu-item"><%= link_to 'User Register',new_user_path %></li>
            <li class="menu-item"><%= link_to 'User Login',login_path %></li>
　　　　　　　<li class="menu-item"><%= link_to 'User Logout',logout_path, method: :delete %></li>
          </ol>
        </li>

        <li class="menu-item">
          <a href="#0">Photos</a>
          <ol class="sub-menu">
            <% if logged_in? %>
            <li class="menu-item"><%= link_to 'Post New Photos',new_topic_path %></li>
            <% else %>
            <li class="menu-item"><%= link_to 'Post New Photos',login_path %></li>
            <% end %>
            <li class="menu-item"><%= link_to 'Photo List',topics_path %></li>
          </ol>
        </li>
        <li class="menu-item"><%= link_to 'Contact',index_path %></li>
      </ol>

    </nav>
    <%= yield %>

    <script>
      $(function(){
         $(".alert").fadeOut(5000);
      });
    </script>

  </body>
  </html>
